.header-container ,.footer-container {
  padding: 20px;
}

.footer-container {
  height: 60px;
  width: 100%;

  bottom: 0;
  left: 0;
  position: absolute;
  
  .copyright {
    text-align: center;
  }
}