<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Peddler"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container">
      @@include('../partials/progress-bar.html')
    </section>

  </div>

  <!-- include footer.html -->
  @@include('../layouts/footer.html')
</body>
</html>