<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<!-- favicon -->
<link href="images/favicon.ico" type="image/x-icon" rel="icon">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<!-- meta social -->
<meta name="twitter:card" content="Peddler" />
<meta name="twitter:site" content="Peddler" />
<meta name="twitter:creator" content="Peddler" />
<meta property="og:description" content="Peddler" />
<meta property="og:image" content="Peddler" />
<meta property="og:site_name" content="Peddler">
<meta property="og:title" content="Peddler" />
<meta property="og:type" content="Peddler">
<meta property="og:url" content="Peddler" />
<!-- Google Font -->