$color-text-defaul: #424242;
$color-text-heighline: #ffc000;

$color-bg-body: #fff;
$color-icon-info: #195fff;
$color-border: #cfcfcf;
$color-bg-progress-bar-default: #cfcfcf;
$color-progress-bar-bought: #ffc000;
$color-progress-bar-owest: #b69bf3;
$color-bg-progress-dot: #fff;

$height-progress-line: 8px;
$height-width-progress-cycle: 60px;